/*==================================*/
/*          ALL SECTIONS            */
/*==================================*/

/* TAG SELECTOR */

body
{
    font-family      : "Montserrat";
}

h1
{
    font-size        : 3.5rem;
    font-weight      : 900;
    line-height      : 1.5;
}

h2
{
    font-size        : 3rem;
    font-weight      : 900;
    line-height      : 1.5;
}

h3
{
    font-size        : 1.5rem;
    font-weight      : 900;
    line-height      : 1.5;
}

/* CLASS SELECTORS */

.blank-section
{
    background-color : white;
    text-align       : center;
}

.colored-section
{
    background-color : #ff4c68;
    color            : white;
    text-align       : center;
}

.container-fluid
{
    padding-bottom   : 7%;
    padding-left     : 15%;
    padding-right    : 15%;
    padding-top      : 7%;
}

.download-button
{
    margin-top       : 5%;
    margin-right     : 2%;
    margin-left      : 2%;
    margin-bottom    : 0%;
}

.small-text
{
    color            :#8f8f8f;
}

/*==================================*/
/*          NAVBAR SECTION          */
/*==================================*/

/* ID SELECTOR */

#navbar .container-fluid 
{
    padding-bottom   : 3%;;
    padding-left     : 15%;
    padding-right    : 15%;
    padding-top      : 3%;
}

/* CLASS SELECTORS */

.navbar-brand
{
    font-family      : "Ubuntu";
    font-size        : 2.5rem;
    font-weight      : bold;
}

.nav-item
{
    padding-left     : 1rem;
    padding-right    : 1rem;
}

.nav-link
{
    font-size        : 1.2rem;
    font-weight      : 300;
}

/*==================================*/
/*          TITLE SECTION           */
/*==================================*/

/* ID SELECTOR */

#title
{
    text-align       : left;
}

/* CLASS SELECTORS */

.iphone-mockup
{
    display          : block;
    margin           : auto;
    width            : 40%;
}

.iphone-mockup-container
{
    display          : flex;
    justify-content  : center;
}

/* RESPONSIVE */

@media (max-width: 1285px)
{
    .description
    {
        font-size    : 2.8rem;
        font-weight  : 900;
        line-height  : 1.5;
    }
}

@media (max-width: 1079px)
{
    #title
    {
        text-align   : center;
    }

    .description
    {
        font-size    : 2rem;
        font-weight  : 900;
        line-height  : 1.5;
    }
}

@media (max-width: 992px)
{
    .iphone-mockup
    {

        padding-top  : 3%;
        width        : 35%;
    }
}

/*==================================*/
/*          FEATURES SECTION        */
/*==================================*/

/* CLASS SELECTORS */

.icon
{
    color            : #ef8172;
    margin-bottom    : 1rem;
}

.icon:hover
{
    color            : #ff4c68;
}

/*==================================*/
/*      TESTIMONIALS SECTION        */
/*==================================*/

/* ID SELECTOR */

#testimonials
{
    background-color : #ef8172;
}

/* CLASS SELECTORS */

.carousel-item
{
    padding-left     : 15%;
    padding-right    : 15%;
}

.testimonials-img
{
    width            : 10%;
    border-radius    : 100%;
    margin           : 20px;
}

/*==================================*/
/*          PRESS SECTION           */
/*==================================*/

/* ID SELECTOR */

#press .container-fluid
{
    background-color : #ef8172;
    padding-top      : 0;
}

/* CLASS SELECTOR */

.press-logo
{
    margin-left      : 20px;
    margin-right     : 20px;
    width            : 15%;
}

/*==================================*/
/*          PRICING SECTION         */
/*==================================*/

/* CLASS SELECTORS */

.pricing-col
{
    padding-bottom   : 3%;
    padding-left     : 2%;
    padding-right    : 2%;
    padding-top      : 3%;
}

/*==================================*/
/*      CALL TO ACTION SECTION      */
/*==================================*/

/* CLASS SELECTORS */

.social-icon
{
    color            : #22252A;
    margin-left      : 0.5rem;
    margin-right     : 0.5rem;
    margin-top       : 1rem;
    margin-bottom    : 1rem;
}